<% if albums and albums.size > 0 %>
  <div class="row">
    <%= render partial: 'feeds/albums/album', collection: albums, locals: {album: :album} %>  
  </div>
  <div class="row justify-content-center">
    <%= will_paginate albums, :param_name => 'album_page', renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: {active_tab: 'albums'} %>
  </div>
<% else %>
  <h5 class="text-danger">No Albums</h5>
<% end %>