   <div class="row">
    <div class="col-sm-6 col-md-4 m-auto">
      <h2 class="text-center login-title">Fotobook Login</h2>
      <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
        alt="">
        <%= render 'form', user: @user %>
      </div>
      <a href="/signup" class="text-center new-account" data-turbolinks="false">Create an account </a>
    </div>
  </div>

