<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header-custom">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-sm fa-times"></i></button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body pl-0 pr-0">
        <div class="container text-center img-container">
          <img src="" class="img-fluid img-modal" alt="img">
        </div>
        <p class="modal-description">Some text in the modal.</p>
      </div>
    </div>
  </div>
</div>