#myModal2.modal.fade[role="dialog" aria-hidden="true"]
  .modal-dialog
    .modal-content
      .modal-body
        #demo.carousel.slide[data-ride="carousel"]
          button.close[type="button" data-dismiss="modal"]
            i.fa.fa-sm.fa-times
          .carousel-inner
            .carousel-item.active
              img.img-fluid[src="" alt="Los Angeles"]
          a.carousel-control-prev[href="#demo" data-slide="prev"]
            span.carousel-control-prev-icon
          a.carousel-control-next[href="#demo" data-slide="next"]
            span.carousel-control-next-icon
