#myModal.modal.fade[role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header-custom
        button.close[type="button" data-dismiss="modal"]
          i.fa.fa-sm.fa-times
        h4.modal-title
          | Modal Header
      .modal-body.pl-0.pr-0
        .container.text-center.img-container
          img.img-fluid.img-modal[src="" alt="img"]
        p.modal-description
          | Some text in the modal.
