<!-- main-content -->
<!--  -->
<ul class="tabs mb-3">
  <li class="tab-link current" data-tab="tab-photo">photo</li>
  <li class="tab-link" data-tab="tab-album">album</li>
</ul>
<!-- TAB PHOTO -->
<div id="tab-photo" class="tab-content current">
  <div class="row">
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <a href="javascript:;" class="flex-fill a-img-element" data-toggle="modal" data-target="#myModal">
            <img src="/assets/avt.jpeg" alt="avt" class="img-fluid img-custom">
          </a>
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Eagle</h5>
              <p class="element-content-mid">Eagle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus.</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <a href="javascript:;" class="flex-fill a-img-element" data-toggle="modal" data-target="#myModal">
            <img src="/assets/img2.jpeg" alt="img2" class="img-fluid img-custom">
          </a>
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">View 222Lorem ipsum dolor sit amet.</h5>
              <p class="element-content-mid">Lorem 2222222ipsum dolor sit amet, consectetur adipisicing elit!</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <a href="javascript:;" class="flex-fill a-img-element" data-toggle="modal" data-target="#myModal">
            <img src="/assets/img3.jpeg" alt="img3" class="img-fluid img-custom">
          </a>
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Image3.</h5>
              <p class="element-content-mid">Aliquid necessitatibus error itaque dignissimos magnam quis atque accusamus, minus. Ab obcaecati, dolore maxime.</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <a href="javascript:;" class="flex-fill a-img-element" data-toggle="modal" data-target="#myModal">
            <img src="/assets/img4.jpeg" alt="img4" class="img-fluid img-custom">
          </a>
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Image 4 akamula</h5>
              <p class="element-content-mid">Reiciendis facilis molestias minus quia nemo aut, magni asperiores quas, odit adipisci?</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
  </div>
</div>
<!-- end TAB PHOTO -->

<!-- TAB ALBUM -->
<div id="tab-album" class="tab-content">
  <div class="row">
    <!-- test -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <!-- left -->
          <a class="flex-fill element-album" href="javascript:;" data-toggle="modal" data-target="#myModal2">
            <img src="/assets/avt.jpeg" alt="avt" data-title="title-image2" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/avt.jpeg" alt="avt" data-title="title-image3" data-description="Dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/avt.jpeg" alt="avt" data-title="title-image4" data-description="Consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/avt.jpeg" alt="avt" data-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus." class="img-fluid img-thumbnail">
          </a>
          <!-- end left -->
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Eagle</h5>
              <p class="element-content-mid">Eagle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus.</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <!-- left -->
          <a class="flex-fill element-album" href="javascript:;" data-toggle="modal" data-target="#myModal2">
            <img src="/assets/img4.jpeg" alt="avt" data-title="title-image2" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img4.jpeg" alt="avt" data-title="title-image3" data-description="Dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img4.jpeg" alt="avt" data-title="title-image4" data-description="Consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img4.jpeg" alt="avt" data-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus." class="img-fluid img-thumbnail">
          </a>
          <!-- end left -->
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Eagle</h5>
              <p class="element-content-mid">Eagle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus.</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <!-- left -->
          <a class="flex-fill element-album" href="javascript:;" data-toggle="modal" data-target="#myModal2">
            <img src="/assets/img6.jpeg" alt="avt" data-title="title-image2" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img6.jpeg" alt="avt" data-title="title-image3" data-description="Dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img6.jpeg" alt="avt" data-title="title-image4" data-description="Consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
          </a>
          <!-- end left -->
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/avt.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Eagle</h5>
              <p class="element-content-mid">Eagle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus.</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
    <!-- element -->
    <div class="col-md-6 mb-3">
      <div class="container-fluid p-0">
        <div class="d-flex element-wrapper">
          <!-- left -->
          <a class="flex-fill element-album" href="javascript:;" data-toggle="modal" data-target="#myModal2">
            <img src="/assets/img3.jpeg" alt="img2" data-title="title-image2" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img3.jpeg" alt="img4" data-title="title-image4" data-description="Consectetur adipisicing elit, sed do eiusmod;" class="img-fluid img-thumbnail img-element">
            <img src="/assets/img3.jpeg" alt="avt" data-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus." class="img-fluid img-thumbnail">
          </a>
          <!-- end left -->
          <div class="flex-fill element-col-right">
            <div class="element-content">
              <div class="element-content-head">
                <a class="nav-link" href="javascript:;">
                  <span class="element-user-wrapper">
                    <img src="/assets/img3.jpeg" alt="avatar" class="rounded-circle">
                    <span class="element-user-name">TruongTG</span>
                  </span>
                </a>
                <a href="javascript:;" class="element-a-flow">flow</a>
              </div>
              <h5 class="element-content-title">Eagle</h5>
              <p class="element-content-mid">Eagle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempora necessitatibus.</p>
              <span class="text-blue element-right-heart"><i class="fa fa-heart"></i> <small>27</small> </span>
              <span class="element-right-time"><small>4:56pm 17/01/2019</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end element -->
  </div>
</div>
<!-- end TAB ALBUM -->
<!--  -->
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item active"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
