#tab-followers.public-profile-tab-content
  .d-flex.flex-wrap.justify-content-center.profiles-content-wrapper-followers
    = render partial: "users/follow_components/card", collection: followees, as: :follower, locals: {follower: :follower, user: user, type: "followers"}
