ul.tabs{
	width: max-content;
	margin: auto;
	margin-top:10px;
	padding: 0px;
	list-style: none;
	border: 1px solid  #3C5999;
	border-radius: 5px;
}
ul.tabs li{
	background: none;
	color: #3C5999;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
}

ul.tabs li.current{
	color: #fff;
	background-color: #3C5999;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}