.title-new-photo{
	font-weight: 700;
	margin-bottom: 0px;
}
.custom-file-label{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed gray;
  background-color: #e9ebee;
}
.custom-file-label:after{
	display: none;
}
.custom-file-label > i{
  font-size: 40px;
  color: gray;
  transition: 0.1s;
}
.custom-file:hover i{
  color: #28a745;
  font-size: 72px;
}
.custom-file:hover .custom-file-label{
  border: 2px dashed #28a745;
  background: #28a74521;
}
.my-custom-file{
  width: calc(9.5em + .75rem + 2px);
  height: calc(9.5em + .75rem + 2px);
  cursor: pointer;
}