- u = photo.user
.col-md-6.mb-3
  .container-fluid.p-0
    .d-flex.element-wrapper
      a.flex-fill.a-img-element[href="javascript:;" data-toggle="modal" data-target="#myModal"]
        img src="#{photo.image.url}" alt="#{photo.title}" class="img-fluid img-custom"
      .flex-fill.element-col-right
        .element-content
          .element-content-head
            .nav-link[href="javascript:;"]
              span class=(u.image.present? ? "element-user-wrapper" :"element-user-wrapper no-avatar") data-name="#{u.words_no_avatar}" 
                img src="#{u.image.url}" alt="#{u.full_name}" class="rounded-circle" 
                = link_to user_path(photo.user), :"data-turbolinks" => false do
                  span.element-user-name = u.full_name
            - if current_user
              - if current_user.followers.include? u
                = link_to t('follow.following'), {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => u.id}, method: :post, remote: true , class: "element-a-follow following"
              - else
                = link_to t('follow.follow'), {:controller => "users", :action => "edit_add_follow", :id => current_user.id , :user_follow_id => u.id}, method: :post, remote: true , class: "element-a-follow"
            - else
              = link_to t('follow.follow'), "javascript:;", title: t('please_login'), class: "element-a-follow please-login"
          h5.element-content-title
            = photo.title
          p.element-content-mid
            = photo.description
          .element-right-heart
            - if current_user
              - check_like = photo.likes.find_by(user_id: current_user)
              = link_to like_user_photo_path(:user_id => u, :id => photo.id), method: :post, remote: true, class: if check_like then "a-like liked" else "a-like" end do
                i.fa.fa-heart
            - else
              = link_to 'javascript:;', title: t('please_login'), class: "a-like please-login" do
                i.fa.fa-heart
            small.count-like
              = photo.likes.size
          span.element-right-time
            small
              = photo.created_at.strftime("%I:%M %p %-d/%-m/%Y")