<div id="tab-albums" class="public-profile-tab-content">
  <div class="d-flex flex-wrap justify-content-end mt-0 mb-3 mr-3">
    <% if full_authorities_for_this_user %>
      <%= link_to 'Add Album', new_user_album_path(user), class: "btn btn-sm btn-success", id: "btn-add-album", :"data-turbolinks" => false %>
    <% end %>
  </div>
  <div class="d-flex flex-wrap justify-content-center profiles-content-wrapper-albums">
    <%= render partial: "users/albums/album", collection: list_albums, as: :album, locals: {album: :album, full_authorities_for_this_user: full_authorities_for_this_user} %>
  </div>
</div>