<img src="<%= user.image.url %>" width="100" height="100" id="img_avatar">  
<%= form_with(model: user, controller: :users, url: update_by_admin_user_path(user), method: :put, local: true, id: "form-edit-self-image", class: "form mb-5") do |f| %>
  <%= f.file_field :image , :class => "custom-file-input"%>
<% end %>
<a href="javascript:;" id="a_change_avatar">CHANGE</a>