<h5 class="mt-3 d-inline-block title">Edit User Profile</h5>
<%= link_to 'Back', {controller: :admin, action: :users}, class: "btn btn-sm btn-primary float-right mt-3" %>
<hr>
<div class="row mb-3">
  <div class="col-md-4 m-auto">
    <%= render 'form_avatar', user: @user %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 m-auto">
    <p class="name_form">Basic Infomation</p>
  </div>
</div>
<%= render 'form_edit_basic_info_by_admin', user: @user %>


