<div class="container">
  <h1 class="text-center title-sign-up">Fotobook Signup</h1>
  <div class="row justify-content-center">
    <div class="col-md-6 sign-up-wrap">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>

<%= link_to 'Back', users_path %>
