<div class="d-flex justify-content-start">
  <p class="mt-3 title-new-photo">New Album</p>
</div>
<hr/>
<div id="content">
  <%= render 'form', album: @album, user: @user %>
</div>
<hr>

<%= link_to 'Back', user_albums_path, class: "btn btn-sm btn-primary" %>
</div>