<div class="d-flex justify-content-start">
  <p class="mt-3 title-new-photo">New Photo</p>
</div>
<hr>
<%= render 'form', photo: @photo %>
<hr>
<%= link_to 'Back', photos_path, :class => "btn btn-sm btn-primary" %>
