#admin_manage_photos div.wrap-a-photos{
  max-width: 195px;
  margin-right: 15px;
  margin-bottom: 15px;
}
#admin_manage_photos div.div-a-photos{
  max-width: 195px;
  transition: all 1s;
  color:black;
  position: relative;
}
#admin_manage_photos img.a-photos-img{
  max-width: 195px;
  min-height: 195px;
}
#admin_manage_photos img.a-photos-img:hover{
  max-width: 195px;
  min-height: 195px;
}
#admin_manage_photos div.div-a-photos a.a-edit{
  color:white;
  position:absolute;
  top:0;
  right: 0;
  padding: 2px;
}
#admin_manage_photos div.div-a-photos p{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
  padding: 5px 5px;
  background: #2c2b2bab;
  width: 100%;
  color:white;
}


// ALBUM
#admin_manage_albums div.wrap-a-albums{
  max-width: 174px;
  margin: 10px;
  padding: 15px;
  position: relative;
  background-color: #d3d3d37d;
}
#admin_manage_albums div.div-a-albums{
  transition: all 1s;
  text-decoration: none;
  color:black;
  position: relative;
  display: inline-block;
  text-align: center;
}
#admin_manage_albums img.a-albums-img{
  max-width: 145px;
  min-height: 145px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.075rem;
background-color: #fff;
border: 0.5px solid #dee2e6;
border-radius: 0.075rem;
}
#admin_manage_albums div.div-a-albums > img:first-of-type{
  transform: rotateZ(11.25deg);
}
#admin_manage_albums div.div-a-albums > img:nth-of-type(2){
  transform: rotateZ(5.5deg);
}
#admin_manage_albums div.div-a-albums > img:last-of-type{
  position: inherit;
}
#admin_manage_albums .profiles-content-wrapper-albums{
  margin-top: 20px;
}
#admin_manage_albums .a-albums-main-photo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#admin_manage_albums div.wrap-a-albums .head{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000a1;
}

#admin_manage_albums div.wrap-a-albums .head p.albums-title{
  font-size: 11px;
  max-height: 25px;
  margin:0;
  color:white;
  overflow:hidden;
  padding: 4px;
}
#admin_manage_albums div.wrap-a-albums .head .a-edit{
  text-transform: uppercase;
  color:white;
  margin-right: 2px;
  text-decoration: none;
}

#admin_manage_albums div.wrap-a-albums .head .a-edit:hover{
  color:#FF004B;
}