.remove-img-album-preview {
  top: 0px;
  right: 5px;
  position: absolute;
  color: black;
  font-size: 20px;
}
.remove-img-album-preview.error {
  color: white;
}
.img-preview-new-album{
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  overflow-x: hidden;
  display: flex;
  // min-height: 135px;
}
.div-img-preview-album-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-weight: 700;
  background: #fff6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.div-img-preview-album-gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: gray;
  height: 100%;
  opacity: 0.3;
}
.div-img-preview-album-gray.red {
  background:red;
}
.img-preview-new-album>img{
  min-height: 135px;
}