body.body-devise{
  background-color: #fff;
}

.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  // margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
  color: #3C5999;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  // display: block;
  margin-top: 10px;
}
.btn-login{
  margin:auto;
  margin-bottom: 15px;
  display: block;
  background-color: #3C5999;
  border-color: #3C5999;
  padding: 5px 20px;
}
.forgot-password{
  text-decoration: none !important;
}


#img_avatar{
  position: relative;
  border-radius: 5px;
}
#a_change_avatar{
  position: absolute;
  bottom: 5px;
  left: 28px;
  font-size: 12px;
  padding: 4px 12px;
  background-color: #ffffff6e;
  border-radius: 8px;
  text-decoration: none;
  color:black;
}
.title{
  font-size: 14px;
  font-weight: bold;
}
.form *{
  font-size: 14px;
}
.name_form{
  font-size: 14px;
  color:#3C5999;
  font-weight: bold;
}

#error_explanation {
  margin: auto;
  border: 1px solid red;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.title-left-form-self-edit{
  display: flex;
  vertical-align: middle;
  justify-content: end;
  align-items: self-end;
}
#form-edit-self-image{
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
}