/*SIGN UP*/
.title-sign-up{
  color: #3C5999;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.sign-up-wrap{
  border-radius: 5px;
  background-color: #e9ebee69;
  padding: 35px;
  margin-bottom: 35px;
}
#form_sign_up > button[type="submit"]{
  background-color: #3C5999;
  border: #3C5999;
  display: block;
  margin: auto;
}
#form_sign_up label{
  font-weight: 600;
}
input {
    padding:5px;
}
input.error {
    border:2px solid red;
}
span.error-validattion-arrow {
    height:17px;
    top:4px;
}
label.error {
    color:red;
    padding:1px 5px 1px 5px;
    font-size:small;

}
.btn-sign-up{
  background-color: #3C5999;
  border-color: #3C5999;
}

/*flash*/
// .alert-error {
//     background-color: #f2dede;
//     border-color: #eed3d7;
//     color: #b94a48;
//     text-align: left;
//  }

// .alert-alert {
//     background-color: #f2dede;
//     border-color: #eed3d7;
//     color: #b94a48;
//     text-align: left;
//  }

// .alert-success {
//     background-color: #dff0d8;
//     border-color: #d6e9c6;
//     color: #468847;
//     text-align: left;
//  }

// .alert-notice {
//     background-color: #dff0d8;
//     border-color: #d6e9c6;
//     color: #468847;
//     text-align: left;
//  }

// FORM RESET PASSWORD
.form-gap {
    padding-top: 70px;
}

//PUBLIC PROFILE
/*Tab*/
ul.public-profile-tabs{
	width: max-content;
	margin-top:10px;
	padding: 0px;
	list-style: none;
}
ul.public-profile-tabs li{
	background: none;
	color: gray;
	display: inline-block;
	padding: 0px 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
ul.public-profile-tabs li:not(:first-child){
	border-left: 1px solid lightgray;
}
ul.public-profile-tabs li span.counts{
	font-size: 20px;
}

ul.public-profile-tabs li.current{
	color: #3C5999;
}

.public-profile-tab-content{
	display: none;
}

.public-profile-tab-content.current{
	display: inherit;
}
/*end Tab*/

img.profile-card-image{
	width: 150px;
	height: 150px;
}
a.profile-card-follow{
  color: #FF004B;
  border: 1px solid #FF004B;
	border-radius: 24px;
	padding: 0.125rem 0.5rem;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
}
a.profile-card-follow:hover, a.profile-card-follow.following{
  background-image: linear-gradient(to left, rgb(123, 67, 151), rgb(220, 36, 48));
  color: #fff;
}
a.profile-card-follow.following:hover{
  background-image: linear-gradient(to left, #c8a632, #5d0096);
  color: #fff;
}
a.profile-card-follow.edit-profile{
	color:white;
  background-color: #fff;
  background-image: none;
  border: 1px solid #3C5999;
  color: #3C5999;
  font-weight: 600;
}
a.profile-card-follow.edit-profile:hover{
  color:white;
  background-color: #3C5999;
}
.card-title{
	font-weight: 700;
}
/*TAB PHOTOS*/
#tab-photos div.wrap-a-photos{
	max-width: 195px;
	margin: 0px 10px;
}
#tab-photos div.div-a-photos{
	max-width: 195px;
	transition: all 1s;
	color:black;
	position: relative;
}
#tab-photos img.a-photos-img{
	max-width: 195px;
	min-height: 195px;
}
#tab-photos img.a-photos-img:hover{
	max-width: 195px;
	min-height: 195px;
}
#tab-photos div.div-a-photos .a-edit{
	text-transform: uppercase;
	position: absolute;
	font-size: 10px;
	bottom: 10px;
	right: 10px;
	border-radius: 0.25rem;
	padding: 1px 2px;
	color:white;
	background-color: #808080a3;
	text-decoration: none;
}
#tab-photos div.div-a-photos .a-edit:hover,#tab-photos div.div-a-photos .a-lock:hover{
	color:#FF004B;
	background-color: white;
}
#tab-photos div.div-a-photos .a-lock {
	position: absolute;
	top: 10px;
	right: 10px;
	color: black;
	background-color: white;
	border-radius: 50%;
	padding: 0px 5px;
	font-size: 12px;
}
#tab-photos #btn-add-photo{
	border-radius: 12px;
	padding: 2px 8px;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
/*TAB ALBUMS*/
#tab-albums div.wrap-a-albums{
	max-width: 174px;
	margin: 10px 25px 50px 25px;
}
#tab-albums div.div-a-albums{
	transition: all 1s;
	text-decoration: none;
	color:black;
	position: relative;
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}
#tab-albums img.a-albums-img{
	max-width: 165px;
	min-height: 165px;
	position: absolute;
	top: 0;
  left: 0;
  padding: 0.06125rem;
}
#tab-albums div.div-a-albums > img:first-of-type{
	transform: rotateZ(14.5deg);
}
#tab-albums div.div-a-albums > img:nth-of-type(2){
	transform: rotateZ(7.25deg);
}
#tab-albums div.div-a-albums > img:last-of-type{
	position: inherit;
}
#tab-albums .profiles-content-wrapper-albums{
	margin-top: 20px;
}
#tab-albums .a-albums-main-photo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
}
#tab-albums .a-albums-main-photo span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	font-size: 22px;
	padding: 12px 15px;
	border-radius: 50%;
	background: #A8A8A8BF;
	color: white;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	transition: all 0.2s;
}
#tab-albums .a-albums-main-photo span:after{
	content: "photos";
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
#tab-albums div.div-a-albums .a-edit{
	text-transform: uppercase;
	position: absolute;
	font-size: 10px;
	bottom: 10px;
	right: 10px;
	border-radius: 0.25rem;
	padding: 1px 2px;
	color:white;
	background-color: #808080a3;
	text-decoration: none;
}
#tab-albums div.div-a-albums .a-lock{
	position: absolute;
	top: 10px;
	right: 10px;
	color: black;
	background-color: white;
	border-radius: 50%;
	padding: 0px 5px;
	font-size: 12px;
}
#tab-albums div.div-a-albums .a-edit:hover, #tab-albums div.div-a-albums .a-lock:hover,#tab-albums .a-albums-main-photo span:hover{
	color:#FF004B;
	background-color: white;
}
#tab-albums div.wrap-a-albums p.albums-title{
	font-size: 12px;
}
#tab-albums #btn-add-album{
	border-radius: 12px;
	padding: 2px 8px;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
/*Tab Followwings*/
#tab-followings .followings-card {
    background-color: #e9ebee;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 25px 15px;
}
#tab-followings .followings-card .a-person-name{
	font-size: 15px;
	font-weight: 600;
}
#tab-followings .followings-card div.a-person-card-photos,#tab-followings .followings-card div.a-person-card-albums{
	color:#3C5999;
	text-align: center;
	margin:5px 15px;
}
#tab-followings .followings-card div.a-person-card-photos p, #tab-followings .followings-card div.a-person-card-albums p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}
#tab-followings .followings-card div.a-person-card-photos small,#tab-followings .followings-card div.a-person-card-albums small{
	text-transform: uppercase;
	font-size: 10px;
}
#tab-followings .a-person-card-follow{
	font-size: 12px;
	text-decoration: none !important;
	padding: 0.125rem 1.5rem;
	border-radius: 24px;
	font-weight: 700;
	color: #FF004B;
	border: 0.0125rem solid #FF004B;
	background-color: white;
}
#tab-followings .a-person-card-follow:hover, #tab-followings .a-person-card-follow.following{
	background-image: linear-gradient(to left, rgb(123, 67, 151), rgb(220, 36, 48));
	color: white;
}

/*Tab Followers*/
#tab-followers .followers-card {
    background-color: #e9ebee;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 25px 15px;
}
#tab-followers .followers-card .a-person-name{
	font-size: 15px;
	font-weight: 600;
}
#tab-followers .followers-card div.a-person-card-photos,#tab-followers .followers-card div.a-person-card-albums{
	color:#3C5999;
	text-align: center;
	margin:5px 15px;
}
#tab-followers .followers-card div.a-person-card-photos p, #tab-followers .followers-card div.a-person-card-albums p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}
#tab-followers .followers-card div.a-person-card-photos small,#tab-followers .followers-card div.a-person-card-albums small{
	text-transform: uppercase;
	font-size: 10px;
}
#tab-followers .a-person-card-follow{
	font-size: 12px;
	text-decoration: none !important;
	padding: 0.125rem 1.5rem;
	border-radius: 24px;
	font-weight: 700;
	color: #FF004B;
	border: 0.0125rem solid #FF004B;
	background-color: white;
}
#tab-followers .a-person-card-follow:hover, #tab-followers .a-person-card-follow.following{
	background-image: linear-gradient(to left, rgb(123, 67, 151), rgb(220, 36, 48));
	color: white;
}
#tab-followings .a-person-card-follow.unfollow, #tab-followers .a-person-card-follow.unfollow{
  background-image: linear-gradient(to left, #db5603, #d5aa15);
  color: white;
}
//end PUBLIC PROFILE








