<footer class= "container-fluid bg-blue text-center p-1">
  <p class="text-light"><b>FOTOBOOK <i class="fa fa-heart"></i> TruongTG</b></p>
  <div class="btn-group float-right" role="group" id="group-multi-language" >
    <%= link_to "en", {locale: "en"}, { class: "btn btn-sm btn-light" } %>
    <%= link_to "vi", {locale: "vi"}, { class: "btn btn-sm btn-secondary" } %>
  </div>
  <div class="clearfix"></div>
</footer>